body{
    margin:0 ;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inner-container{
    flex: 0 1 1024px
}
h1{
    background: springgreen;
    padding: 0.5em 1em;
    margin: 0;
    color: black;
    text-align: center;  
    
}
.body-wrap{
    background: wheat;
    border-top: 1px solid black;
    display: flex;
}
.side-images {
    padding: 5px;
    background: palegreen;
  }
  
  img {
    width: 100%;
  }
  .menu {
    padding: 0.5em;
    background-color:palegreen;
    text-align: center;
    color: black;
  }
  
  .menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  .menu li.active {
    font-weight: bold;
  }
  
  .body {
    padding: 1em;
  }
  
  .promotion-text {
    border-top: 1px solid pink;
    border-bottom: 1px solid pink;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin: 1em 0;
  }
  
  .promotion-container {
    display: flex;
  }
  
  .form {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
  }
  .form input,
.form select {
  font-size: 15px;
  padding: 0.5em 0;
}

.promotion-images {
  display: block;
  padding: 10px;
  
  
}

div.video {
  margin-top: 20px;
}
